{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images App Lab</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <main class = "maincontainer">
        <section>
            <nav>
                <a class = "upload_img_btn href="{% url 'add_post' %}>Upload Images</a>
            </nav>
        </section>

        <section class = "albumcontainer">
            {% for post in object_list %}
            <div class ="card">
                <p class = "card-title"> {{post.title}} </p>
                <div class = "card-img-containter">
                    <img class="card-img" src = "{{post.image.url}}" alt= "image of {{post.title}}"/> 
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>