{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images App Lab</title>
</head>
<body>
    <h1 class="apptitle">Upload Images App</h1>
    <form class="form_post" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Correctly render the form fields -->
        {{ form.as_p }}
        
        <!-- Single submit button -->
        <button class="btnsubmit" type="submit">Submit new photo request</button>
    </form>
</body>
</html>
