<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Learning App</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Ravindra's Student Learning Management App</h1>
        <nav>
            <a href="{% url 'to_do_list:task_list' %}">To-Do List</a>
            <a href="{% url 'blog:blog_list' %}">Blog</a>
            <a href="{% url 'upload_notes:note_list' %}">Notes</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
