* {
    box-sizing: border-box;
}

.maincontainer {
    width: 800px;
    background-color: aliceblue;
    margin: 5em auto;
    padding: 2em;
}

.apptitle {
    text-align: center;
}

.dolistform {
    margin-top: 2em;
}

.formgroup {
    margin-top: 2em;
}

.todo_text {
    padding: 0.5em;
    border-radius: 5px;
    border: solid gray 1px;
    width: 400px;
}

/* BUTTON STYLES */
.btnadd, .btn_deleteeach, .btn_deleteall {
    background-color: crimson;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

.btnadd {
    background-color: olive;
}

.btnadd:hover {
    background-color: darkolivegreen;
}

.btn_deleteall, .btn_deleteeach:hover {
    background-color: darkred;
}

/* TO DO LIST */
.listdo {
    padding: 20px;
    background-color: rgb(230, 230, 230);
    list-style: none;
}

.completed {
    color: whitesmoke;
    text-decoration: line-through;
    background-color: rgb(50, 50, 50);
}
