{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List Done By Ravindra Arjune </title>
    <link rel="stylesheet" href="{% static 'doliststyle.css' %}">
</head>
<body>
    <main class="maincontainer">
        <h1 class="apptitle">To-Do List Done by Ravindra Arjune</h1>
        <form action="{% url 'add' %}" method="POST">
            {% csrf_token %}
            {{ form.text }}
            <button class="btnadd">Add Task</button>
        </form>
        <section class="formgroup">
            <a href="{% url 'deletecompleted' %}"><button class="btn_deleteeach">Delete Completed</button></a>
            <a href="{% url 'deleteall' %}"><button class="btn_deleteall">Delete All</button></a>
        </section>
        <ul class="listdo">
            {% for task in todo_tasks %}
                {% if task.completed %}
                    <li class="listitem completed">{{ task.text }}</li>
                {% else %}
                    <a href="{% url 'completed' task.id %}" class="linkitem"><li class="listitem">{{ task.text }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </main>
</body>
</html>

